body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #74ebff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.nameInput {
  border: none;
  margin-right: 20px;
  padding: 5px 10px;
}

.list {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding: 0;
        max-height: 2000px;
        transition: 0.6s;
    }

.listItem {
        display: block;
        margin: 10px 0;
        text-transform: capitalize;
        background: aliceblue;
        border-radius: 20px;
        padding-left: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

.itemSpan {
        color: #010155;
        font-weight: 600;
    }

.makeButton {
    border: none;
        padding: 10px 20px;
        border-radius: 20px;
        text-transform: uppercase;
        float: right;
        background: #ffac0f;
        color: #fff;
        transition: 0.4s;
        cursor: pointer;
}

.makeButton:hover {
    transform: scale(1.08);
}

.eatButton {
        border: none;
        padding: 10px 20px;
        border-radius: 20px;
        margin-left: 30px;
        text-transform: uppercase;
        float: right;
        background: #080;
        color: #fff;
        transition: 0.4s;
        cursor: pointer;
    }

.eatButton:hover {
    transform: scale(1.08);
}

.poopButton {
        border: none;
        padding: 10px 20px;
        border-radius: 20px;
        margin-left: 30px;
        text-transform: uppercase;
        float: right;
        background: brown;
        color: #fff;
        cursor: pointer;
        transition: 0.4s;
    }

.poopButton:hover {
    transform: scale(1.08);
}

.poopModal {
  /* position: absolute; */

}

.poopModal span {
  font-size: 120px;
}
